.idea/
_pycache_/
.gitignore
*.pyc

# Web-Caesar
Unit_2/web-caesar/.idea/
Unit_2/web-caesar/virtenv/


# Studio - Flicklist
Unit_2/studio/flicklist-flask/.git/
Unit_2/studio/flicklist-flask/.idea/
Unit_2/studio/flicklist-flask/
